.friendCard {
    display: flex;
    align-items: center;
    gap: 15px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name {
    font-size: 16px;
    font-weight: bold;
}